<!DOCTYPE html>
<html>
 <head>
   <title>Test</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <style>
     td,th {
       padding: 10px;
       text-align: center;
     }
   </style>
 </head>
 <body>
     <center>
    <table border=1; style="font-size: 18px; border-collapse: collapse">
        <tr>
            <td>ID</td>
            <td>제목</td>
            <td>작성자</td>
            <td>삭제</td>
        </tr>
            <% for (const result of results) { %>
        <tr>
            <th>
                <%= result.number %>
            </th>
            <td>
              <!-- /board/update?number=<%= result.number %> --> 
              <a href="/board/cn?number=<%= result.number %>"><%= result.title %> (<%= result.cc %>)</a>
            </td>
            <td>
                <%= result.id %>
            </td>
            <td>
                <a href="final?number=<%= result.number %>">삭제하기</a>
            </td>
        </tr>
        <% } %>
    </table>
    <a href="/board/create"><p>게시물 등록</p></a>
    <a href="/board/delete"><p>게시물 삭제</p></a>
    <a href="/"><p>뒤로가기</p></a>
    </center>
 </body>
</html>